<html>
<head>
	<title>Vue</title>
	<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<style type="text/css">
	.fade-enter{
		opacity: 0;
	}
	.fade-enter-active{
		transition: opacity 0.5s;
	}
	.fade-enter-to{
		opacity: 1;
	}
</style>
<body>
	<div id="app" class="container min-w-full bg-gray-200">
		<div class="h-48 bg-blue-600 text-center">
			<h1 class="pt-16 text-4xl font-bold">Vue js poster  shop</h1>
			<form v-on:submit.prevent="onSubmit">
				<div class="my-4 inline">
	      			<input  class="shadow appearance-none border rounded sm:w-6/12 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="search" type="text" placeholder="Search" v-model="search">
	    		</div>

				<button type="submit" class="bg-yellow-600 w-40 rounded p-2">Search</button>
			</form>
		</div>
		<div class="container md:flex mx-auto">
			<div class="md:w-8/12 ms:w-ful p-4">
				<div>
					Found {{products.length}} result for search item <em>{{search}}</em>
				</div>
				<div v-for="product in products" v-bind:key="product.id">
					<div class="my-5 rounded-lg bg-white p-5 flex">
						
						<div class="w-4/12">
							<img v-bind:src="product.thumb">
						</div>
						<div class="w-8/12 px-5">
							<h4 class="text-md ">{{product.title}}</h4>
							<h4 class="text-md py-5">Price : {{product.price | currency}}</h4>
							<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" v-on:click="addToCart(product)">
							  Add to cart
							</button>
						</div>
						
					</div>

				</div>
				<div id="product-list-bottom"></div>
			</div>
			<div class=" md:w-4/12 ms:w-ful p-5">
				<div class="w-ful py-10 border-b-2 border-black">
					<h1 class="text-lg font-bold "> Shoping Cart</h1>
				</div>
				<transition-group tag="ul" name="fade">
					<li  v-for="item in cart" v-bind:key="item.id" class="border-b-2 border-gray py-5">
						<div>{{item.title}}</div>
						<div class="inline pr-10">{{item.price | currency}} x {{item.qty}}</div>
						<button class="bg-blue-500 px-3 rounded" v-on:click="dec(item)">-</button>
						<button class="bg-blue-500 px-3 rounded" v-on:click="inc(item)">+</button>
					</li>
				</transition-group>
				<transition name="fade">
					<div class="w-ful py-5" v-if="cart.length">
						<div class="float-right text-md font-bold">
							Total : {{total | currency}}	
						</div>
					</div>
				</transition>
				
				<div v-if="cart.length===0">
					No Item in the cart
				</div>
			</div>
		</div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
	<script type="text/javascript" src="/node_modules/scrollmonitor/scrollMonitor.js"></script>
	<script type="text/javascript" src="/public/javascripts/apps.js"></script>
</body>
</html>